:root {
    --main-bg-color: #333;
    --main-text-color: #fff;
    --primary-color: #007bff;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

#hero-result {
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    overflow: hidden; 
}

.card-body {
    color: #333;
    padding: 20px;
 
}

.card-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 10px; 
}

.card-text {
    color: #555; 
}

.card {
    border: 1px solid #ddd; 
}

#chartContainer {
    height: 370px; width: 100%;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden; 
 
}